img.radis-draw,
img.radis-draw-bg {
  position: absolute;
  animation: scroll-animation-radis 2s both;
  animation-timeline: view();
  animation-range: entry 20% cover 50%;
}

img.radis-draw {
  top: 525px;
  left: -110px;
  opacity: 0.3;
  z-index: 250;
}

img.radis-draw-bg {
  top: 170px;
  left: -600px;
  z-index: 200;
}

@keyframes scroll-animation-radis {
  from {
    transform: translateX(-15vw);
  }

  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 950px) {
  img.radis-draw,
  img.radis-draw-bg {
    display: none;
  }
}