$transition-all: all .3s ease;
$transition-left: left .3s ease;
$transition-right: right .3s ease;

$text-dark: hsl(0, 0%, 0%);
$text-white: hsl(100, 100%, 100%);

$title-blue: #4CA7C3;
$title-brown: #6C4908;

$content-green-lime: #B2D359;
$link-green-pal: #ABB89E;
$border-gray-green: #BEAC9A;

$brown-pal: #EFDEC9;
$bg-all: #F4F1EB;